{% extends "base.html" %}

{% block title %}
  Inicio
{% endblock %}


{% block content %}
  <h1>
    Bienvenidos
  </h1>
  <h2>
    Desde este lugar se pueden ver listas de productos, listas de vendedores y listas usuarios
  </h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa quidem iste ratione adipisci repellendus incidunt laborum accusamus libero amet atque debitis quod corrupti, optio natus fugiat exercitationem odio aspernatur! Sapiente?</p>
{% endblock %}