{% extends "base.html" %}

{% block title %}
  Usuarios
{% endblock %}

{% block content %}
  <h1>
    Bienvenidos
  </h1>
  <h2>
    Desde este lugar se pueden ver la listas de usuarios
  </h2>
  <a href="/cargar_usuarios/" class="btn btn-primary">Crear un nuevo producto</a>
  {% for i in usuarios %}
    <div class="card" style="width: 18rem;">
        <img src="" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">{{i.usuario}}</h5>
        <p class="card-text">Su nombre es {{i.nombre}}</p>
        <p class="card-text">Su edad es {{i.edad}}</p>
        
        </div>
    </div>
  {%endfor%}

  {% endblock %}